.dark-mode {
  padding-top: 0;
  margin-top: 0;
  background-color: #333;
  color: #fff;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}
.App {
  padding-top: 0;
  margin-top: 0;
  height: 100vh;
  width: 100vw;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
} 
.dark-mode-checkbox {
  top: 87vh;
  position: fixed !important;
  left: 30px !important;
}
.navbar .heading {
  margin-top: 0;
  color: #5f5f5f;
  display: flex;
  align-items: center;
}
.heading{
  font-size: xx-large;
  text-decoration: none;
}
.navbar {
  backdrop-filter: blur(5px);
  padding-bottom: 10px;
  z-index: 1;
  padding-top: 10px;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  justify-content: space-between; 
  background: transparent;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.nav-buttons {
  
  display: flex;
  align-items: center;
  margin-left: 40px;
}
.nav-buttons button {
  margin-right: 20px;
  
  padding: 6px 14px;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
  border-radius: 6px;
  border: none;

  background: #6E6D70;
  box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1), inset 0px 0.5px 0.5px rgba(255, 255, 255, 0.5), 0px 0px 0px 0.5px rgba(0, 0, 0, 0.12);
  color: #DFDEDF;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  cursor: pointer;
  margin-left: 10px; 
}
.dark-mode .nav-buttons button {
  color: #fff;
  border: 1px solid #fff;
  background-color: rgba(38,147,230,255);
  margin-right: 20px;
}
.dark-mode .heading{
  color: white;
}
.dark-mode .nav-buttons button:hover {
  background-color: #444;
  color: #fff;
}
.lp1, .sp1 {
  margin-top: 0;
  padding-top: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-page {
  background: #f0f0f0; 
  color: #333; 
}
.login-page-content {
  background: #fff; 
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 0;
}
.login-page-content input {
  background: #f7f7f7; 
  border: 1px solid #ccc; 
  padding: 10px;
  margin-bottom: 20px;
}
.login-page-content button {
  background: #337ab7; 
  color: #fff; 
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}
.login-page-content button:hover {
  background: #23527c; 
}
.dark-mode .login-page {
  background-color: #333;
  color: #fff;
}

.dark-mode .login-page-content {
  background-color: #444;
  border: 1px solid #555;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.login-page-content input, .signup-page-content input {
  display: block;
  width: 80%;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
}

.dark-mode .login-page-content input, .dark-mode .signup-page-content input {
  background-color: #444;
  border: 1px solid #666;
  color: #fff;
}

.dark-mode .login-page-content button {
  background-color: #337ab7;
  color: #fff;
}

.dark-mode .login-page-content button:hover {
  background-color: #23527c;
}
.dark-mode .navbar {
  background-color: #333;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  background: transparent;
}
.signup-page {
  background: transparent;
  color: #333; 
  padding-top: 70px; 
  height: calc(100vh - 70px); 
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup-page-content {
  background: #fff; 
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 0;
  width: 400px; 
}

.signup-page-content input {
  background: #f7f7f7; 
  border: 1px solid #ccc; 
  padding: 10px;
  margin-bottom: 20px;
}

.signup-page-content button {
  background: #337ab7; 
  color: #fff; 
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.signup-page-content button:hover {
  background: #23527c; 
}

.dark-mode .signup-page {
  background-color: #333;
  color: #fff;
}

.dark-mode .signup-page-content {
  background-color: #444;
  border: 1px solid #555;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.dark-mode .signup-page-content input {

  border: 1px solid #666;
  color: #fff;
}

.dark-mode .signup-page-content button {
  background-color: #337ab7;
  color: #fff;
}

.dark-mode .signup-page-content button:hover {
  background-color: #23527c;
}
@media (max-width: 768px) {
  .signup-page-content {
    width: 80%; 
  }
}
.left-nav-links {
  margin-right: 40px;
  display: flex;
  align-items: center;
}

.nav-link {
  margin-right: 20px;
  color: #5f5f5f;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.dark-nav-link {
  color: #fff;
}

.nav-link:hover {
  color: #337ab7;
}

.dark-nav-link:hover {
  color: #ccc;
}

.nav-link:active {
  color: #337ab7;
}

.dark-nav-link:active {
  color: #ccc;
}

/* About Us link styles */

.about-us-link {
  margin-right: 20px;
  color: #5f5f5f;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.dark-about-us-link {
  color: #fff;
}

.about-us-link:hover {
  color: #337ab7;
}

.dark-about-us-link:hover {
  color: #ccc;
}

.about-us-link:active {
  color: #337ab7;
}

.dark-about-us-link:active {
  color: #ccc;
}

/* Registration link styles */

.registration-form-container {
  margin-top: 100px;
}

.registration-form {
  width: 80%;
  margin: 40px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.registration-form h1 {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.form-group label {
  width: 25%; 
  margin-bottom: 10px;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="password"] {
  width: 25%; 
  height: 40px;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.form-group input[type="submit"] {
  background-color: #4CAF50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.form-group input[type="submit"]:hover {
  background-color: #3e8e41;
}

.error {
  color: red;
  font-size: 12px;
  margin-bottom: 10px;
}

.success {
  color: green;
  font-size: 12px;
  margin-bottom: 10px;
}
.dark-mode .registration-form {
  background-color: #333;
  border: 1px solid #444;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.dark-mode .form-group label {
  color: #fff;
}

.dark-mode .form-group input[type="text"],
.dark-mode .form-group input[type="email"],
.dark-mode .form-group input[type="password"] {
  background-color: #444;
  border: 1px solid #555;
  color: #fff;
}

.dark-mode .form-group input[type="submit"] {
  background-color: #337ab7;
  color: #fff;
}

.dark-mode .form-group input[type="submit"]:hover {
  background-color: #23527c;
}

.dark-mode .error {
  color: #ff0000;
}

.dark-mode .success {
  color: #00ff00;
}
/* home */

.home-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  background-size: cover;
  background-position: center;
  animation: slideshow 10s infinite;
}
.previous-arrow {
  font-size: 48px;
  cursor: pointer;
  position: absolute;
  left: 48%;
  transform: translateX(-50%);
}
.slideshow{
  margin-top: 17vh;
}
.next-arrow {
  font-size: 48px;
  cursor: pointer;
  position: absolute;
  left: 52%;
  transform: translateX(-50%);
}
.about-us-section {
  color: white;
  margin-top: 115vh;
  position: absolute; 
  top: 0; 
  left: 0; 
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  flex-direction: column; 
}

.about-us-section h2 {
  font-weight: bold; 
  margin-bottom: 20px;
}

.about-us-section p {
  font-weight: bold; 
  margin-bottom: 20px;
}

.about-us-section button {
  margin-top: 20px; 
}
.dark-mode .about-us-section {
  color: black;
  background-color: rgba(255, 254, 254, 0.1);
}
.home-p{
  font-style: italic;
  font-size: x-large;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -250px;
  text-align: center;
}
/* home */
/* footer */
.footer {
  margin-top: 70px;
  background-color: #333;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  font-size: 12px;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-column {
  flex-basis: 25%;
  margin: 20px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.footer-section {
  margin-bottom: 10px;
}

.footer-section h3 {

  margin-top: 0;
  font-size: 14px;
}

.footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer li {
  margin-bottom: 5px;
}

.footer a {
  color: #fff;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

.footer p {
  margin-bottom: 5px;
  font-size: 12px;
}
.footer .a{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
  font-size: 12px;
}
/* footer */
/* Aboutus */
.aboutus-container {
  max-width: 1200px;
  margin: 40px auto;
  padding: 40px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.aboutus-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.aboutus-logo {
  width: 150px;
  height: 150px;
  margin: 20px;
  border-radius: 50%;
}

.aboutus-content p {
  margin: 20px;
  font-size: 18px;
  line-height: 1.5;
  color: #333;
}

.aboutus-content h1 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333;
}
/* Aboutus */
/* chatbot */
.chatbot-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.chatbot-button:hover {
  background-color: #444;
}
/* chatbot */
/* t&c */
.terms-and-conditions {
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.terms-and-conditions h2 {
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 10px;
}

.terms-and-conditions p {
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 1.5;
}
/* t&c */
/* disc */
.disclaimer {
  max-width: 800px;
  margin: 40px auto;
  padding: 30px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.disclaimer h2 {
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 10px;
}

.disclaimer p {
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 1.5;
}
/* disc */
/* Common */
.dark-mode .aboutus-container,
.dark-mode .terms-and-conditions,
.dark-mode .disclaimer {
  background-color: #333;
  color: #fff;
}

.dark-mode .aboutus-content p,
.dark-mode .terms-and-conditions p,
.dark-mode .disclaimer p {
  color: #fff;
}

.dark-mode .aboutus-content h1,
.dark-mode .terms-and-conditions h2,
.dark-mode .disclaimer h2 {
  color: #fff;
}

.dark-mode .aboutus-logo {
  border: 2px solid #fff;
}
/* common */